@font-face {
  font-family: "iranyekan";
  src: url("/lib/fonts/IranYekan/iranyekanwebregular.eot");
  src: url("/lib/fonts/IranYekan/iranyekanwebregular.woff") format("woff");
  src: url("/lib/fonts/IranYekan/iranyekanwebmedium.eot");
  src: url("/lib/fonts/IranYekan/iranyekanwebmedium.woff") format("woff");
}

body {
  font-family: 'iranyekan', tahoma, Arial;
  -webkit-font-smoothing: antialiased;
}

:root {
  --Color-1: red;
  --Color-2: Green;

}

/* Index Style */
.DisplayHide {
  display: none !important;
}
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}
.modal {
  --bs-modal-width: 363px;
  top: 60px;
}
.table > thead {
    vertical-align: bottom;
    text-align-last: center;
}
.table > tbody {
    text-align-last: center;
}

.MainCard {
  padding: 2rem;
  margin-bottom: 2rem;
}

.MainCard1 {
  padding: 2rem;
  margin-bottom: 2rem;
  flex-wrap: nowrap;
  flex-direction: row;
}

.Info {
  margin-top: 15px;
  text-align: start;
}

footer {
  text-align: start;
}

.LoginForm {
  max-width: unset !important;
  padding: 2rem;
}

.MainCardInside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
}

.input-group {
  width: 20rem;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
  margin-left: 1rem;

}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  background: #ffffff;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

.Upload {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
}

.DatePickerClass {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  background: #ffffff;
}

.custom-file-button {
  input[type="file"] {
    margin-left: -2px !important;

    &::-webkit-file-upload-button {
      display: none;
    }

    &::file-selector-button {
      display: none;
    }
  }

  &:hover {
    label {
      background-color: #dde0e3;
      cursor: pointer;
    }
  }
}

.form-select {
  border: 2px solid #818ef9;
  color: #4b4953;
  font-size: 15px;
  border-radius: 5px;
  width: 159px;

}

.mb-3 {
  margin-bottom: unset !important;
}

.FinishBTN {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #3d4ff0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #3d4ff0;
  color: #ffffff;
  overflow: hidden;
  width: 10rem;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 1rem;
}

.FinishBTN:hover {
  background: #3d4ff0;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.FinishBTN:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.FinishBTN::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #3d4ff0;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.UnusedUSerBTN {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #ff8100;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: #ff8100;
    color: #ffffff;
    overflow: hidden;
    width: 10rem;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 1rem;
}

    .UnusedUSerBTN:hover {
        background: #ff8100;
        color: #ffffff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        .UnusedUSerBTN:hover::before {
            -webkit-animation: sh02 0.5s 0s linear;
            -moz-animation: sh02 0.5s 0s linear;
            animation: sh02 0.5s 0s linear;
        }

    .UnusedUSerBTN::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #ff8100;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }


.CloseBTN {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: unset;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #ff0000;
  color: #ffffff;
  overflow: hidden;
  width: 10rem;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 1rem;
}

.CloseBTN:hover {
  background: #ff0000f0;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.CloseBTN:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.CloseBTN::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #3d4ff0;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.FinishBTN:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.UploadBTN {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #3d4ff0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #3a4393;
  color: #ffffff;
  overflow: hidden;
  width: 159px;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 1rem;
  margin-left: 1rem;
}

.UploadSec {
  display: grid;
  align-content: center;
  justify-content: start;
  justify-items: stretch;
}

.MainUploadInside {
  display: flex;
  flex-wrap: wrap;
}


/* OTP */
.otp-field {
  display: flex;
  direction: ltr;
  justify-content: space-evenly;
}

.otp-field input {
  width: 66px;
  height: 54px;
  font-size: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 9px;
  border: 2px solid #47c98e;
  background: #ffffff;
  font-weight: bold;
  color: #6500cf;
  outline: none;
  transition: all 0.1s;
}

.otp-field input:focus {
  border: 2px solid #a527ff;
  box-shadow: 0 0 2px 2px #a527ff6a;
}

.disabled {
  opacity: 0.5;
}

.space {
  margin-right: 1rem !important;
}

/* ****** */
.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #e3e3e3;
  padding-right: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0.6rem;
  line-height: 1.25rem;
  width: 213px;
}

.input-container input:focus {
  border: 2px solid #a527ff;
  box-shadow: 0 0 2px 2px #a527ff6a;
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.Submit {
  width: 100%;
}


.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.OtpImg {
  display: block;
  margin-right: 41%;
  width: 17%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.PhoneOtpInputs{
  text-align-last: right;
  margin-right: 2.4rem;
}
.OtpPhone{
width: 285px!important;
height: 3.8rem;
font-size: xx-large;
}
.OtpBTN1 {
  position: relative;
  padding: 14px 12px 7px 2px;
  border-radius: 7px;
  border: unset;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #47c98e;
  color: #ffffff;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  height: 4rem;
  margin-right: 41px;
  width: 4rem;
}

.OtpBTN1:hover {
  background: #3d4ff0;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.OtpBTN2 {
  position: relative;
  padding: 13px 20px;
  border-radius: 7px;
  border: unset;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #47c98e;
  color: #ffffff;
  overflow: hidden;
  width: 90%;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 1rem;
  align-self: center;
  margin-bottom: 2rem;
}

.OtpBTN2:hover {
  background: #3d4ff0;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


.userpass {
  width: 100% !important;
}

.NavStyle {
  justify-content: unset !important;
  background: #27ae60;
}

.NavStyle .img {
  margin-left: 2rem;
}

.LoginBTN {
  color: #fff;
  border-color: #fff;
  margin-right:auto;
}

.Expired {
  align-self: center;
}

.BackToWebsite {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  width: -webkit-fill-available;
}

@media only screen and (max-width: 700px) {
  .ProfileModal {
    width: unset !important;

  }
}

@media only screen and (max-width: 576px) {
  .form {
    max-width: unset;
  }

  .OtpBTN1 {
    width: 100%;
    margin: auto;
    padding: unset;
    text-align-last: center;
  }
  .PhoneOtpInputs{
    margin-right: unset;
  }
  .OtpPhone {
    width: 100%!important;
    height: 3.8rem;
    font-size: xx-large;
    text-align-last: center;
}
  .otp-field input {
    width: 55px;
    height: 50px;
    margin: unset;
    margin-top: 2rem;
  }

  .typewriter .paper {
    margin-left: 80px;
  }

  .typewriter {
    margin-right: 33% !important;

  }
}

@media screen and (max-width: 767px) {

  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: start;
  }

}

/* Admin Style */
/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
  margin-top: 17px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: #ff0000;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked+.toggle-label {
  background-color: #4CAF50;
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked+.toggle-label {
  background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked+.toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label::before {
  transform: translateX(16px);
}

.SmsModal {
  width: 650px;
}

.select2-container--default .select2-selection--multiple {
  box-shadow: unset;
  border-color: #ffb052;
}

.ftco-section {
  padding: 1em 0;

}

.select2-container {
  direction: rtl;
  text-align: justify;
  max-height: 300px;
}

.SmsTextArea {
    padding: 1rem;
    margin: 0rem 1.5rem 0px 1.5rem;
    max-inline-size: -webkit-fill-available;
}

.SendSmsBTN {
  background-color: #28a745;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border-color: unset;
  margin: 1rem;
  padding: 1rem;
  max-inline-size: -webkit-fill-available;
}

.SmsLabel {
  text-align: start;
  margin-right: 1.5rem;
}

.Table1 {
  direction: rtl;
  text-align: start;
}

.Table1 th {
  text-align: start !important;
  background-color: #58758d;
  color: #ffffff;
}

.Table1 th:nth-child(1) {
  text-align: center;
}

.FuncIcon {
  border: unset;
  background: unset;
  font-size: x-large;
  transition: transform 0.3s;
}

.FuncIcon:hover {
  transform: scale(1.5)
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: end;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: -1em;
  display: inline-block;
  width: auto;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin-left: -0.9em;
}
.dataTables_length {
  text-align: start;
}

.dataTables_info {
  text-align: start;
}

.ProfileModal {
  width: max-content;
  max-width: 600px;
  padding: 2rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    /* max-width: 500px; */
    margin: auto;
  }
}

.DocTable {
  margin-top: 2rem;
  padding-bottom: 5rem;
}

.SmsPanelBTN {
  background-color: #0c90a3;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border-color: unset;
  padding: 1rem;
}

.AlertIMG {
  margin: 2rem 0 2rem 0;
  height: 100px;
}

/* Loading */
.Unset {
  all: unset !important;
  max-width: unset;
}

.typewriter {
  --blue: #5C86FF;
  --blue-dark: #275EFE;
  --key: #fff;
  --paper: #EEF0FD;
  --text: #D3D4EC;
  --tool: #FBC56C;
  --duration: 3s;
  position: relative;
  margin-right: 35%;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
}

.typewriter .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  transform: translateX(14px);
  background: linear-gradient(var(--blue), var(--blue-dark));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before,
.typewriter .slide:after,
.typewriter .slide i:before {
  content: "";
  position: absolute;
  background: var(--tool);
}

.typewriter .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.typewriter .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.typewriter .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--tool);
}

.typewriter .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

.typewriter .paper {
  position: absolute;
  left: 180px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(0.8);
  background: var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

.typewriter .keyboard:before,
.typewriter .keyboard:after {
  content: "";
  position: absolute;
}

.typewriter .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--blue), var(--blue-dark));
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

@keyframes bounce05 {

  85%,
  92%,
  100% {
    transform: translateY(0);
  }

  89% {
    transform: translateY(-4px);
  }

  95% {
    transform: translateY(2px);
  }
}

@keyframes slide05 {
  5% {
    transform: translateX(14px);
  }

  15%,
  30% {
    transform: translateX(6px);
  }

  40%,
  55% {
    transform: translateX(0);
  }

  65%,
  70% {
    transform: translateX(-4px);
  }

  80%,
  89% {
    transform: translateX(-12px);
  }

  100% {
    transform: translateX(14px);
  }
}

@keyframes paper05 {
  5% {
    transform: translateY(46px);
  }

  20%,
  30% {
    transform: translateY(34px);
  }

  40%,
  55% {
    transform: translateY(22px);
  }

  65%,
  70% {
    transform: translateY(10px);
  }

  80%,
  85% {
    transform: translateY(0);
  }

  92%,
  100% {
    transform: translateY(46px);
  }
}

@keyframes keyboard05 {

  5%,
  12%,
  21%,
  30%,
  39%,
  48%,
  57%,
  66%,
  75%,
  84% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  9% {
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  18% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  27% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  36% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }

  45% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  54% {
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  63% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }

  72% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  81% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}